.carousel-control-prev,
.carousel-control-next {
  background-color: 'black';
}

.slick-prev {
  border-radius: 50% !important;
  padding: 15px !important;
  color: rgb(0, 0, 0) !important;
  inset-inline-start: 8px !important;
  opacity: 1 !important;
}

.slick-next {
  border-radius: 50% !important;
  padding: 15px !important;
  color: rgb(0, 0, 0) !important;
  inset-inline-end: -8px !important;
  opacity: 1 !important;
}

.slick-prev:hover,
.slick-next:hover {
  color: blue;
}

