input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


:where(.css-dev-only-do-not-override-blynoi).ant-input-affix-wrapper-focused{
    /* border-bottom: 1px solid black !important; */
    /* box-shadow: none !important; */

    background-color: white !important;
    /* border-color: rgb(205, 205, 205) !important; */
    box-shadow: none !important;
}

;