.itemsLink {
    text-decoration: none;

}

.not-hover {
    background-color: rgb(255, 255, 255);
}

.not-hover:hover {
    background-color: white !important;
    cursor: default;
}

:where(.css-dev-only-do-not-override-qnu6hi).ant-layout .ant-layout-sider-trigger {
    background-color: #CCD7ED !important;
    color: black;
}

.ant-menu-light .ant-menu-item-selected,
.ant-menu-light>.ant-menu .ant-menu-item-selected {
    font-weight: 500;
    border-radius: 0px !important;
    background-color: #f3eeff !important;
    border-right: 3px solid #6439FF !important;
}

:where(.css-dev-only-do-not-override-blynoi).ant-layout .ant-layout-sider-trigger {
    position: fixed;
    bottom: 0;
    z-index: 1;
    height: 48px;
    color: #69727A;
    line-height: 48px;
    text-align: center;
    background: #e0d6f9;
    cursor: pointer;
    transition: all 0.5s;
}