/* .list-hover-style:hover{
    
    box-shadow: rgba(118, 118, 118, 0.05) 0px 6px 24px 0px, rgba(119, 119, 119, 0.08) 0px 0px 0px 1px;
}

.list-hover-style{
    padding: 10px;
} */

:where(.css-dev-only-do-not-override-qnu6hi).ant-table-wrapper .ant-table-thead>tr>th,
:where(.css-dev-only-do-not-override-qnu6hi).ant-table-wrapper .ant-table-thead>tr>td {
    background-color: rgb(236, 236, 236);
}